.wy-nav-content {
    max-width: 95% !important;
    margin: 0 auto;
}

/* Make the logo responsive */
img.logo-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Ensure the note block takes the full width */
div.note {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

div.note pre {
    width: 100%;
    white-space: pre-wrap; 
    word-wrap: break-word;
}
